<% _.each(data.entries,function(entry,i) { %>

	<% entry["@type"]; %>
	<% entry.author; %>
	<% entry.datePublished; %>

	<h2><a href="<%= (entry.url || "").replace("http://"+dataquery.filter.url,"") %>"><%= entry.name %></a></h2>

	<%- entry.articleBody %>
<% }); %>